main {
  display: flex;
  flex-wrap: wrap;
}
body {
  background: #000000; 
  background: -webkit-linear-gradient(to right, #0f9b0f, #2fbd2f);  
  background: linear-gradient(to right, #0f9b0f, #2fbd2f); 
  height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  justify-content: space-around;
}
button {
  padding: 10px;
}


.card {
  width: 200px;
  height: 300px;
  background-color: green;
  margin: 17px;
}
.highlight {
  background-color: yellow;
}